@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.w-1440 {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 1440px;
    margin: 0 auto;

}

.container-1250 {
    max-width: 1250px;
    margin: 0 auto;

}


.w-1440 header {
    display: flex;
    justify-content: center;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    width: 100%;
    position: fixed;

}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    width: 1250px;
}

.top div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top > div > h3 {
    color: #001858;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
}

.top > div > h3 > span {
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.top > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.top > nav > ul {
    display: flex;
    gap: 30px;
}

.top > nav > ul a {
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.top > nav .buymeacoffee {
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

/*-----------Dasteen--------*/
main {
    padding-top: 86px;

}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 164px 0 263px;
    width: 1250px;
    margin-inline: auto;

}

.banner img {
    justify-self: end;
}

.dasteen {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.dasteen > h1 {
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.dasteen > p {
    width: 652px;
    color: #9A9494;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dasteen > .email {
    width: 609px;
    height: 67px;
}

.dasteen > .email input {
    height: 100%;
    width: 70%;
    border-radius: 8px;
    background: #FFFFFE;
    border: none;
    font-size: 20px;
    padding-left: 10px;

}

.dasteen input::placeholder {
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.dasteen > .email button {
    border-radius: 8px;
    width: 145px;
    height: 100%;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    margin-left: 30px;
}

/*---------Language--------*/
.category__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.category__section .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1250px;
    height: 86px;
}

.category > p {
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.category > a {
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}


.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 37px;
    background: #FFFFFE;
    color: inherit;
    text-decoration: none;
}
.icons a {
    text-decoration: none;
    color: inherit;
}


.icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    gap: 30px;
    width: 220px;
    height: 280px;
}

.icon .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 8px;

}

.icon:hover {
    border-radius: 8px;
    background: #6246EA;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.icon p {
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}


/*---------Featured Article---CSS---javascript-----React JS-----*/
.catalog_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 80px 0;
}

.catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 86px;

}

.catalog > p {
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

}

.catalog > a {
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
}
.cards a {
    text-decoration: none;
    color: inherit;
}


.card {

    background: #fff;
    height: 425px;
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

}

.card:hover {
    border-radius: 12px;
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.card-title {
    padding-top: 20px;
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/* ---------- AUTHOR ---------- */
.author {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: auto;

}

.author img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.author h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.author p {
    color: #2B2C34;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.catalog_section .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

}

.catalog_section .More_Article {
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: none;

}

.subscribe-section {
    display: grid;
    place-items: center;
    padding: 58px 0;
}

.subscribe-section h3 {
    color: #2B2C34;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.subscribe-section p {
    width: 696px;
    color: #C0C0C0;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.subscribe-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    text-align: center;
    gap: 30px;
}

.subscribe-form {
    display: flex;
    width: 609px;
    gap: 20px;
}

.subscribe-form input {
    width: 444px;
    height: 67px;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 400;
    line-height: normal;

}

.subscribe-form input::placeholder {
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.subscribe-form a {
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/*-------------------footer------------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #E4E5E9;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;

}

.info-container {
    display: flex;
    width: 1250px;
    padding-top: 70px;
}

.info-brand {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-brand h3 {
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.info-brand h3 span {
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info-brand p {
    color: #2B2C34;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 284px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 30px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    column-gap: 95px;
    margin-left: 160px;
}

.info-col h4 {
    color: #2B2C34;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 25px;

}

.info-col a,
.info-col p {
    display: flex;
    margin-bottom: 20px;
    color: #2B2C34;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;

}

.footer-bottom {
    display: flex;
    align-items: center;
    border-top: 1px solid #C0C0C0;
    width: 1250px;
    height: 70px;
    font-size: 14px;
    color: #2B2C34;
}





